# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Pytest cache
.pytest_cache/
__pycache__/
# Ruff cache
.ruff_cache/
# Downloaded data
/src/battery_trading_model/data/